.upload-outer-container{
    margin:auto;
    margin-top: 5%;
    background-color: #EAEAEA;
    width:30%;
    height: 300px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-container{
    width:40%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
    background-color: #D9D9D9;
}
.upload-container input{
    display: none;
}